/*ccache*
/.vscode
/.vs
/out
/data
CMakeSettings.json
.settings
.cproject
.project
Bestandsstatistik.stat
Differenzstatistik.stat
/build*
/rohdaten*
*.user
*.bin
*.*~
*.zip
*.sublime-project
*.sublime-workspace
*.raw
*.db
*.sqlite
*.sqlite3
*.sqlite3-journal
stats.csv
tracking-in-messages.txt
gmon.out
/bikesharing*
config*.ini
/eval
*.mdb
*.mdb-lock
/*build*
/.idea
/deps
pkg
/.clang-tidy
callgrind.out.*
*.callgrind
/.clangd
/compile_commands.json
/data*
/gtfs_tools/gtfstidy*
/gtfs_tools/gtfs-xtract/target
/gtfs_tools/gtfs-xtract/.idea
.git
.pkg.lock
.pkg.mutex